﻿@model IEnumerable<ProjStudentManagement.sp_Course_Search_Pagination_Result>

<!--Course List Table -->
<table class="table" id="crtabel">
    <thead>
        <tr>
            <th class="clth">Course Name</th>
            <th class="crth">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="clth">@item.CourseName</td>
                <!--Action Button Edit and Delete-->
                <td class="crth">
                    <a href="javascript:void(0)" onclick='crsfun(@item.CourseId)' title="Edit"><span style="color: blue"><i class="glyphicon glyphicon-edit"></i></span></a>
                    <a href="@Url.Action("deleteCourse", "Home", new { id = item.CourseId})" title="Delete" onclick="return confirm('Are you sure you want to delete?')">
                        <span style="color:red"><i class="glyphicon glyphicon-trash"></i></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Display Pagination
    $(function () {
        $("#totalresult").text("Total @ViewBag.Resultcount entries found")
        var listcount = '@ViewBag.Count';
        if (listcount != 0) {
            $('.demo4_bottom').bootpag({
                total: listcount,
                maxVisible: 5,
                leaps: true,
                firstLastUse: true,
                first: '←',
                last: '→',
                wrapClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                nextClass: 'next',
                prevClass: 'prev',
                lastClass: 'last',
                firstClass: 'first'
            })
        }
        else {
            $('.demo4_bottom').empty();
        }
        $(".bootpag").on("click", "li", function (event) {
            var num = 0;
            if ($(this).hasClass("active")) {
                num = $(this).attr('data-lp');
                calllist(allpara(), num);
            }
        });
    })
</script>
