﻿@model IEnumerable<ProjStudentManagement.sp_Student_Search_Pagination_Result>
<!--Student List Table-->
<table class="table">
    <thead>
        <tr>
            <th class="thcenter">Name</th>
            <th class="thcenter">Date Of Birth</th>
            <th class="thcenter">Age - Years</th>
            <th class="thcenter">Gender</th>
            <th class="thcenter">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tbcenter">@item.Name</td>
                <td class="tbcenter">@Convert.ToDateTime((item.DateOfBirth)).ToString("dd MMM yyyy")</td>
                <!--* 
                    * Count Age in Year from Date of Birth
                    * if age less 10 Dsiplay in Red Colour
                    * -->
                @{
                    int curdate = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                    int DOB = int.Parse(item.DateOfBirth.ToString("yyyyMMdd"));
                    var age = (curdate - DOB) / 10000;
                }
                @if (age <= 10)
                {
                    <td class="tbcenter rdclr">@age</td>
                }
                else
                {
                    <td class="tbcenter">@age</td>
                }
                <!--Display Gender as per Char -->
                @if (item.Gender == "M")
                {
                    <td class="tbcenter">Male</td>
                }
                else if (item.Gender == "F")
                {
                    <td class="tbcenter">Female</td>
                }
                <!-- Action buttons for Edit and Delete -->
                <td class="tbcenter">
                    <a href="@Url.Action("StudentDetail", "Home", new { id = item.StudentId})" title="Edit"><span style="color:blue"><i class="glyphicon glyphicon-edit"></i></span></a>
                    <a href="@Url.Action("deleteStudent", "Home", new { id = item.StudentId})" title="Delete" onclick="return confirm('Are you sure you want to delete?')">
                        <span class="rdclr"><i class="glyphicon glyphicon-trash"></i></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
     // Display Pagination
    $(function () {
        $("#totalresult").text("Total @ViewBag.Resultcount entries found")
        var listcount = '@ViewBag.Count';
        if (listcount != 0) {
            $('.demo4_bottom').bootpag({
                total: listcount,
                maxVisible: 7,
                leaps: true,
                firstLastUse: true,
                first: '←',
                last: '→',
                wrapClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                nextClass: 'next',
                prevClass: 'prev',
                lastClass: 'last',
                firstClass: 'first'
            })
        }
        else {
            $('.demo4_bottom').empty();
        }
        $(".bootpag").on("click", "li", function (event) {
            var num = 0;
            if ($(this).hasClass("active")) {
                num = $(this).attr('data-lp');
                calllist(allpara(), num);
            }
        });
    })
</script>

