﻿@model ProjStudentManagement.Student
@{
    ViewBag.Title = "addStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Student Add Form-->
<h2>Student Add</h2>
<hr />
@using (Html.BeginForm("addStudent", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Name :</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
            <!--Date of Birth with DatePicker-->>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Date Of Birth :</label>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", @autocomplete = "off", @required = "required", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Courses :</label>
                    <div class="col-md-6">
                        @Html.DropDownList("CourseId", new SelectList(ViewBag.courselst, "CourseId", "CourseName"), new { @class = "selectpicker drpdwnsz", @multiple = "multiple", @data_live_search = "true", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Gender</label>
                    <div class="col-md-6">
                        <div class="checkbox">
                            @Html.RadioButton("Gender", "M", new { @checked = "Checked" })
                            <label>Male</label><br>
                            @Html.RadioButton("Gender", "F")
                            <label>Female</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group btnsv">
                <a href="@Url.Action("StudentManagement", "Home")" class="btn btn-default">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script>
    // allow single click on submit button
    jQuery('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });
</script>

