﻿@{
    ViewBag.Title = "courseLst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course List</h2>
<hr />
<div class="form-group">
    <!--Search TextBox to Filter Records with Perticular Course Name-->
    <div class="row">
        <label class="control-label col-md-1">Search : </label>
        <div class="col-md-3">
            <input class="form-control" id="CourseSrch" name="CourseSearch" type="text" value="" placeholder="Course Name">
            <input id="crid" hidden="hidden" value="">
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-block btn-info" onclick="calllist(allpara(),1)">Search</button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-block btn-info" onclick="clearFilter()">All</button>
        </div>
    </div>
</div>
<p style="float:right">
    <a href="#" data-toggle="modal" data-target="#courseAddModal" class="btn btn-primary">Add New</a>
</p>
<div class="box-body">
    <!--List Update with Ajax Call -->
    <div id="listing">
    </div>
</div>
<div class="box-footer clearfix">
    <!--Display Total Result of Reords-->
    <h3 class="resultfound" id="totalresult"></h3>
    <p style="float:right" class="demo4_bottom">
    </p>
</div>
<!--Course Add Model -->
<div id="courseAddModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Course</h4>
            </div>
            @using (Html.BeginForm("addCourse", "Home", FormMethod.Post))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Course Name :</label>
                            <div class="col-md-6">
                                <input class="form-control" id="CourseName" name="CourseName" type="text" value="" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
<!--Course Edit Model-->
<div id="courseEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Course</h4>
            </div>
            @using (Html.BeginForm("editCourse", "Home", FormMethod.Post))
            {
                <input id="CourseIdedit" name="CourseId" hidden="hidden" value="">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Course Name</label>
                            <div class="col-md-6">
                                <input class="form-control" id="CourseNameedit" name="CourseName" type="text" value="" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
     // Get Course Data from Database with Ajax
    function crsfun(cid) {
        $.get("/Home/editCourse", { id: cid }, function (response) {
            if (response != null) {
                $("#CourseIdedit").val(response.CourseId);
                $("#CourseNameedit").val(response.CourseName);
                $('#courseEditModal').modal('show');
            }
        });
    }
</script>
<script>
    /**
     * Get Course Data from database
     * and display in select list for Search
     */
    var CourseId = 0;
    $(document).ready(function () {
        $("#CourseSrch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/search",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CourseName, value: item.CourseName, id: item.CourseId };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#error_msg").hide();
                CourseId = ui.item.id;
                $("#crid").val(CourseId);
            }
        });
    })
</script>

<script type="text/javascript">
    // Clear Search Parameter
    function clearFilter() {
        window.location.href = "/Home/courseLst";
    }
    $(function () {
        calllist('', 1);
    })
    // CourseId as allpara
    function allpara() {
        var fspara = null;
        str = '';
        var CourseSearch = $("#crid").val();
        fspara = CourseSearch;
        return fspara;
    }
    // Ajax Call Display Availbale Course List and Update in Table
    function calllist(_allpara, page) {
        $.get("/Home/_courseList", { allpara: _allpara, pageno: page }, function (data) {
            $("#listing").empty();
            $("#listing").html(data)
            if (page == 1) {
                $('.demo4_bottom').bootpag({ page: 1 })
            }
        })
    }
</script>
<script>
    // allow single click on submit button
    jQuery('form').submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });
</script>



