﻿@model IEnumerable<ProjStudentManagement.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student List</h2>
<hr />
<div class="form-group">
    <!--Search TextBox to Filter Records with Perticular Student Name-->
    <div class="row">
        <label class="control-label col-sm-1">Search : </label>
        <div class="col-md-3">
            <input class="form-control" id="StudentSrch" name="StudentSrch" type="text" value="" placeholder="Student Name">
            <input id="stid" hidden="hidden" value="">
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-block btn-info" onclick="calllist(allpara(),1)">Search</button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-block btn-info" onclick="clearFilter()">Clear</button>
        </div>
    </div>
</div>
<p style="float:right">
    <a href="Home/addStudent" class="btn btn-primary">Add New</a>
</p>
<div class="box-body">
    <!--List Update with Ajax Call -->
    <div id="listing">
    </div>
</div>
<div class="box-footer clearfix">
    <!--Display Total Result of Reords-->
    <h3 class="resultfound" id="totalresult"></h3>
    <p style="float:right" class="demo4_bottom">
    </p>
</div>
<script>
     // Get Students Records in Textbox with Controller Method for Search by Student Name
    var StudentId = 0;
    $(document).ready(function () {
        $("#StudentSrch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/StudentSearch",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.StudentId };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#error_msg").hide();

                StudentId = ui.item.id;
                $("#stid").val(StudentId);
            }
        });
    })
</script>
<script type="text/javascript">
    // Clear button Click to remove Search Fillter
    function clearFilter() {
        window.location.href = "/";
    }
    $(function () {
        calllist('', 1);
    })
    // Passing StudentId as allpara
    function allpara() {
        var fspara = null;
        str = '';
        var StudentSearch = $("#stid").val();
        fspara = StudentSearch;
        return fspara;
    }
    /**
     * Ajax Call to Get Data from Controller and Update in Table list
     * Dynamicall Data set in Table by Ajax
     */
    function calllist(_allpara, page) {
        $.get("/Home/_studentList", { allpara: _allpara, pageno: page }, function (data) {
            $("#listing").empty();
            $("#listing").html(data)
            
            if (page == 1) {
                $('.demo4_bottom').bootpag({ page: 1 })
            }
        })
    }
</script>

