﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Student-Management</a>
                <a href="/Home/courseLst" class="navbar-brand">Course</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Student Management(Himanshu K-9173658827)</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.bootpag.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-select.js"></script>
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/toastr/toastr.min.js"></script>
    <script>
        /**
         * Date Picker with Minimum 8 year of Age
         * If Age Below 8 Textbox will not Accept
         */
        $(document).ready(function () {
            $('#DateOfBirth').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
            });
            $('#DateOfBirth').on("change", function () {
                var selected = $(this).val().split('-');
                var day = parseInt(selected[0]);
                var month = parseInt(selected[1]);
                var year = parseInt(selected[2]);
                var age = 8;
                var chkdate = new Date(year + age, month - 1, day);
                var curdate = new Date();
                if (curdate >= chkdate) {
                }
                else {
                    $('#DateOfBirth').val('');
                    toastr.error("Selected Date is Less then 8 Year");
                }
            });
        });
    </script>
    <script>
        /**
         * Toastr Notification for Add, Update and, Delete Events
         */
    $(function () {
        var a = '@TempData["successMsg"]';
        var b = '@TempData["errorMsg"]';
        if (a != '') {
            toastr.success(a, { timeOut: 2000 });
        }
        if (b != '') {
            toastr.error(b, { timeOut: 2000 });
        }
    })
    </script>
</body>
</html>
