﻿.thcenter {
    text-align:center;
}
.tbcenter {
    text-align:center;
}
.rdclr {
    color:red;
}
.crth {
    text-align:right;
    padding-right:50px !important;
}
.clth {
    padding-left: 50px !important;
}
.drpdwnsz {
    width:100% !important;
}
.btnsv {
    padding-top:50px;
    text-align:center;
}